
<!-- 
  components/header.astro
-->

<header class="frame">
  <span class="frame__title">
    <a href="">#WebGL</a> 
    Pixel Effect on 
    <a href="">#Scroll</a>
    with
    <a href="">#GSAP</a>
    , 
    <a href="">#Three.js</a> 
    and
    <a href="">#Astro</a>
  </span>
  <a class="frame__back" href="">Tutorial</a>
  <a class="frame__archive" href="">All demos</a>
  <a class="frame__github" href="">GitHub</a>
</header>
