<header class="frame">
  <span class="frame__title"
    ><a href="https://tympanus.net/codrops/demos/?tag=webgl">#WebGL</a> Pixel Effect
    on <a href="https://tympanus.net/codrops/demos/?tag=scroll">#Scroll</a> with <a
      href="https://tympanus.net/codrops/demos/?tag=gsap">#GSAP</a
    >, <a href="https://tympanus.net/codrops/demos/?tag=three-js">#Three.js</a> and
    <a href="https://tympanus.net/codrops/demos/?tag=astro">#Astro</a></span
  >
  <a class="frame__back" href="https://tympanus.net/codrops/?p=107628"
    >Tutorial</a
  >
  <a class="frame__archive" href="https://tympanus.net/codrops/hub/"
    >All demos</a
  >
  <a class="frame__github" href="https://github.com/J0SUKE/gsap-threejs-codrops"
    >GitHub</a
  >
</header>
